@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

.container
  margin: 20px auto

td, th
  vertical-align middle !important
  text-align center !important

.map
  height 100%

td:first-of-type
  height 200px
  width 250px
